[submodule "frases_aleatorias"]
	path = 01_frases_aleatorias
	url = https://github.com/MatheusConaga/frases_aleatorias.git
[submodule "jokenPo"]
	path = 02_jokenPo
	url = https://github.com/MatheusConaga/jokenPo.git
[submodule "alcool_ou_gasolina"]
	path = 03_alcool_ou_gasolina
	url = https://github.com/MatheusConaga/alcool_ou_gasolina.git
[submodule "navegacao_atm_consultoria"]
	path = 04_navegacao_atm_consultoria
	url = https://github.com/MatheusConaga/navegacao_atm_consultoria.git
[submodule "cara_ou_coroa"]
	path = 05_cara_ou_coroa
	url = https://github.com/MatheusConaga/cara_ou_coroa.git
[submodule "preco_bitcoin"]
	path = 06_preco_bitcoin
	url = https://github.com/MatheusConaga/preco_bitcoin.git
[submodule "consumo_servico"]
	path = 07_consumo_servico
	url = https://github.com/MatheusConaga/consumo_servico.git
[submodule "consumo_servico_avancado"]
	path = 08_consumo_servico_avancado
	url = https://github.com/MatheusConaga/consumo_servico_avancado.git
[submodule "youtube_clone"]
	path = 09_youtube_clone
	url = https://github.com/MatheusConaga/youtube_clone.git
[submodule "lista_de_tarefas"]
	path = 10_lista_de_tarefas
	url = https://github.com/MatheusConaga/lista_de_tarefas.git
[submodule "banco_de_dados"]
	path = 11_banco_de_dados
	url = https://github.com/MatheusConaga/banco_de_dados.git
[submodule "lista_de_anotacoes"]
	path = 12_lista_de_anotacoes
	url = https://github.com/MatheusConaga/lista_de_anotacoes.git
[submodule "executando_sons"]
	path = 13_executando_sons
	url = https://github.com/MatheusConaga/executando_sons.git
[submodule "aprenda_ingles_sons"]
	path = 14_aprenda_ingles_sons
	url = https://github.com/MatheusConaga/aprenda_ingles_sons.git
[submodule "executando_videos"]
	path = 15_executando_videos
	url = https://github.com/MatheusConaga/executando_videos.git
[submodule "estudos_firebase"]
	path = 16_estudos_firebase
	url = https://github.com/MatheusConaga/estudos_firebase.git
[submodule "whatsapp_clone"]
	path = 17_whatsapp_clone
	url = https://github.com/MatheusConaga/whatsapp_clone.git
[submodule "viagens_api_maps"]
	path = 18_viagens_api_maps
	url = https://github.com/MatheusConaga/viagens_api_maps.git
[submodule "uber_clone"]
	path = 19_uber_clone
	url = https://github.com/MatheusConaga/uber_clone.git
[submodule "animacoes"]
	path = 20_animacoes
	url = https://github.com/MatheusConaga/animacoes.git
[submodule "animacoes_login"]
	path = 21_animacoes_login
	url = https://github.com/MatheusConaga/animacoes_login.git
[submodule "olx_clone"]
	path = 22_olx_clone
	url = https://github.com/MatheusConaga/olx_clone.git
[submodule "estudos_mobx_provider"]
	path = 23_estudos_mobx_provider
	url = https://github.com/MatheusConaga/estudos_mobx_provider.git
[submodule "estudos_responsividade"]
	path = 24_estudos_responsividade
	url = https://github.com/MatheusConaga/estudos_responsividade.git
[submodule "aplicando_responsividade"]
	path = 25_aplicando_responsividade
	url = https://github.com/MatheusConaga/aplicando_responsividade.git
